<div class="col-sm-6 border">
  <% @tastingnotes.each do |tastingnote| %>
    <div class="row">
      <div class="col-sm-12 h5 text-danger mt-4">
        銘柄:<%= tastingnote.sake.meigara_name %> 　総合評価：<%= tastingnote.evaluation.to_f %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-muted">
        <%= tastingnote.account.account_name %> - 
        <%= tastingnote.tasting_day.strftime("%Y年%m月%d日") %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-8">
        <%= tastingnote.comment %>
      </div>
      <div class="text-right col-sm-4">
        <% if tastingnote.account_id == current_account.id %>
          <%= link_to '編集', edit_tastingnote_path(tastingnote), class: 'btn btn-outline-info btn-xs'%>
          <%= link_to '削除', tastingnote, method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-outline-info btn-xs'  %>
        <% end %>  
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-8">
        <% if tastingnote.image.blank? %>
          <%= image_tag 'nophoto.jpg', class: 'img-fluid border rounded' %>
        <% else %>
          <%= image_tag tastingnote.image.url, class: 'img-fluid border rounded' %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <div class="row d-sm-none d-none d-md-block">
          <div class="col-sm-12">
            <% if tastingnote.tumami_image1.blank? %>
              <%= image_tag 'nophoto.jpg', class: 'img-fluid border rounded' %>
            <% else %>
              <%= image_tag tastingnote.tumami_image1.url, class: 'img-fluid border rounded' %>
            <% end %>
          </div>
        </div>
        <div class="row mt-3 d-none d-md-block">
          <div class="col-sm-12">
            <% if tastingnote.tumami_image2.blank? %>
              <%= image_tag 'nophoto.jpg', class: 'img-fluid border rounded' %>
            <% else %>
              <%= image_tag tastingnote.tumami_image2.url, class: 'img-fluid border rounded' %>
            <% end %>
          </div>
        </div>
        <div class="row mt-3 d-none d-md-block">
          <div class="col-sm-12">
            <% if tastingnote.tumami_image3.blank? %>
              <%= image_tag 'nophoto.jpg', class: 'img-fluid border rounded' %>
            <% else %>
              <%= image_tag tastingnote.tumami_image3.url, class: 'img-fluid border rounded' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center  mt-2">
      <div class="col-sm-6">
        <%= link_to 'テイスティングノート詳細', tastingnote, class: 'btn btn-outline-info btn-xs btn-block' %>
      </div>
      <div class="col-sm-6">
        <% if tastingnote.account_id == current_account.id %>
          <%= link_to 'この銘柄のテイスティングノート', tastingnotes_path(cnt_flg: 1, account_id:tastingnote.account_id, sake_id: tastingnote.sake_id), 
            class: 'btn btn-outline-info btm-xs btn-block' %><br>
          <small class="text-muted">他ユーザーの記録がご覧になれます。</small>
        <% end %>
      </div>
    </div>
    <div class="row border-bottom"><hr></div>
  <% end %>
</div>