<div class="container-fluid mb-4">
  <div class="row">
    <%= render 'layouts/lsidebar' %>
    
    <div class="col-sm-6 border">
      <div class="text-center mb-4 mt-4">
        <h4>ティスティングノートを作成</h4>
      </div>

      <%= form_with(model: @tastingnote, local: true) do |f| %>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :tasting_day, 'テイスティング日' %>
          </div>
          <div class='col-sm-9'>
            <%= f.date_select(:tasting_day,
              use_month_numbers: true,
              start_year: (Time.now.year - 2),
              end_year: (Time.now.year),
              default: Date.new(Time.now.year, Time.now.month, Time.now.day), 
              date_separator: '/', 
            class: 'form-control') %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :sake_id, '銘柄' %>
          </div>
          <div class='col-sm-9'>
            <%= f.select :sake_id, [['獺祭','1'],['越乃寒梅','2']], class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :sake_kind, '種類' %>
          </div>
          <div class='col-sm-9'>
            <%= f.select :sake_kind, [['普通酒','1'],['本醸造酒','2'],['特別本醸造酒','3'],['純米酒','4'],['特別純米酒','5'],
                                    ['吟醸酒','6'],['純米吟醸酒','7'],['大吟醸酒','8'],['純米大吟醸酒','9'],['その他・不明','999999']], class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :sake_supplement, '銘柄補足' %>
          </div>
          <div class='col-sm-9'>
            <%= f.text_field :sake_supplement, class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :how_to_drink, '飲み方' %>
          </div>
          <div class='col-sm-9'>
            <%= f.radio_button :how_to_drink, 0, {checked: true} %> 冷　
            <%= f.radio_button :how_to_drink, 1, {} %> 常温　
            <%= f.radio_button :how_to_drink, 2, {} %> ぬる燗　
            <%= f.radio_button :how_to_drink, 3, {} %> 熱燗
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :color, '色' %>
          </div>
          <div class='col-sm-9'>
            <%= f.select :color, [['冴え（さえ）','1'],['照り（てり）','2'],['ぼけ','3'],['澄明度','4'],
                                ['透明度','5'],['黄金色（こがねいろ）','6'],['番茶色（ばんちゃいろ）','7'],
                                ['色沢良好（しきたくりょうこう）','8'],['色沢濃厚（しきたくのうこう）','9'],
                                ['混濁','10'],['その他','999999']], class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :smell, '香り' %>
          </div>
          <div class='col-sm-9'>
            <%= f.select :smell, [['華やかな香り','1'],['爽やかな香り','2'],['穏やかな香り','3'],
                                ['ふくよかな香り','4'],['その他','999999']], class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :smell_supplement, '香り補足' %>
          </div>
          <div class='col-sm-9'>
            <%= f.text_field :smell_supplement, class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-1'>
            味
          </div>
          <div class='col-sm-2'>
            <%= f.label :sweet_taste, '甘味' %>
          </div>
          <div class='col-sm-9'>
            <%= f.radio_button :sweet_taste, 1, {} %> 非常に強い　
            <%= f.radio_button :sweet_taste, 2, {} %> 強い　
            <%= f.radio_button :sweet_taste, 3, {checked: true} %> 普通　
            <%= f.radio_button :sweet_taste, 4, {} %> 弱い　
            <%= f.radio_button :sweet_taste, 5, {} %> 非常に弱い
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-1'></div>
          <div class='col-sm-2'>
            <%= f.label :acidity, '酸味' %>
          </div>
          <div class='col-sm-9'>
            <%= f.radio_button :acidity, 1, {} %> 非常に強い　
            <%= f.radio_button :acidity, 2, {} %> 強い　
            <%= f.radio_button :acidity, 3, {checked: true} %> 普通　
            <%= f.radio_button :acidity, 4, {} %> 弱い　
            <%= f.radio_button :acidity, 5, {} %> 非常に弱い
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-1'></div>
          <div class='col-sm-2'>
            <%= f.label :bitter_taste, '苦味' %>
          </div>
          <div class='col-sm-9'>
            <%= f.radio_button :bitter_taste, 1, {} %> 非常に強い　
            <%= f.radio_button :bitter_taste, 2, {} %> 強い　
            <%= f.radio_button :bitter_taste, 3, {checked: true} %> 普通　
            <%= f.radio_button :bitter_taste, 4, {} %> 弱い　
            <%= f.radio_button :bitter_taste, 5, {} %> 非常に弱い
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-1'></div>
          <div class='col-sm-2'>
            <%= f.label :umami, '旨味' %>
          </div>
          <div class='col-sm-9'>
            <%= f.radio_button :umami, 1, {} %> 非常に強い　
            <%= f.radio_button :umami, 2, {} %> 強い　
            <%= f.radio_button :umami, 3, {checked: true} %> 普通　
            <%= f.radio_button :umami, 4, {} %> 弱い　
            <%= f.radio_button :umami, 5, {} %> 非常に弱い
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-1'></div>
          <div class='col-sm-2 align-middle'>
            <%= f.label :alcohol, 'アルコール刺激' %>
          </div>
          <div class='col-sm-9'>
            <%= f.radio_button :alcohol, 1, {} %> 非常に強い　
            <%= f.radio_button :alcohol, 2, {} %> 強い　
            <%= f.radio_button :alcohol, 3, {checked: true} %> 普通　
            <%= f.radio_button :alcohol, 4, {} %> 弱い　
            <%= f.radio_button :alcohol, 5, {} %> 非常に弱い
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :taste_supplement, '味補足' %>
          </div>
          <div class='col-sm-9'>
            <%= f.text_field :taste_supplement, class: 'form-control' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :image, '日本酒画像' %>
          </div>
          <div class='col-sm-9'>
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :tumami_image1, 'つまみ画像１' %>
          </div>
          <div class='col-sm-9'>
            <%= f.file_field :tumami_image1 %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :tumami_image2, 'つまみ画像２' %>
          </div>
          <div class='col-sm-9'>
            <%= f.file_field :tumami_image2 %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :tumami_image3, 'つまみ画像３' %>
          </div>
          <div class='col-sm-9'>
            <%= f.file_field :tumami_image3 %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :comment, 'コメント' %>
          </div>
          <div class='col-sm-9'>
            <%= f.text_area :comment, size: "20x10", class: 'form-control input-lg' %>
          </div>
        </div>
        <div class="row form-group">
          <div class='col-sm-3'>
            <%= f.label :evaluation, '総合評価'%>
          </div>
          <div class='col-sm-9'>
            <div class="field" id="star">
              <%= f.hidden_field :evaluation %>
            </div>
          </div>
        </div>
        
        <div class="text-center mb-4">
          <%= f.submit 'テイスティングノート作成', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <%= render 'layouts/rsidebar' %>
  </div>
</div>

<script>
$('#star').raty({
  size     : 36,
  number: 5,
  score: 3,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'tastingnote[evaluation]' 
});
</script>