<div class="col-md-3 pb-4 bg-light">
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '北海道の酒造組合Link　　　　', todofukens_path(serch: 2, region_id:1), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '東北地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:2), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '関東地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:3), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '北陸地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:4), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '甲信地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:5), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '東海地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:6), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '関西地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:7), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '中国地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:8), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '四国地方の酒造組合Link　　　', todofukens_path(serch: 2, region_id:9), class: 'btn btn-info' %>
    </div>
  </row>
  <row>
    <div class="col-md-12 my-2 d-none d-md-block">
      <%= link_to '九州・沖縄地方の酒造組合Link', todofukens_path(serch: 2, region_id:10), class: 'btn btn-info' %>
    </div>
  </row>
</div>